@font-face {
  font-family: poppins400;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins500;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins600;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; */
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.container {
  width: 375px;
  padding: 20px;
  border: 1px solid red;
}

.top {
  display: flex;
  justify-content: space-between;
}
.search {
  width: 44px;
  height: 44px;
  background-color: #f8f8f8;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 3px 8px #888888;
}

.main-image {
  width: 335px;
  height: 435px;
  margin-top: 28px;
  background-image: url(../img/Rectangle400.png);
  padding: 32px 47px;
}

h1 {
  font-size: 24px;
  font-family: poppins600;
  text-align: center;
}

h2 {
  font-size: 14px;
  font-family: poppins400;
  margin: 8px -34px 0px -28px;
  opacity: 80%;
}

#location {
  width: 290px;
  height: 48px;
  border-radius: 10px;
  font-size: 14px;
  font-family: poppins400;
  margin-top: 16px;
  border-color: #0D9CA436;
}

.check-box {
  background-color: #F8F8F8;
  border-radius: 24px;
  margin-top: 20px;
  padding: 24px 20px;
}

label {
  font-size: 14px;
  font-family: poppins400;
}

#property {
  accent-color: green;
  background-color: #ffffff;
  
}

.amount {
  font-size: 14px;
  font-family: poppins400;
  opacity: 50%;
}

h3 {
  font-size: 18px;
  font-family: poppins500;
  margin-top: 32px;
}

.location, .property, .price-range {
  font-size: 16px;
  font-family: poppins500;
}

.property {
  margin-top: 32px;
  margin-bottom: 13px;
}

.price-range {
  margin-top: 41px;
  margin-bottom: 13px;
}

.house-card-1 {
  background-color: aqua;
  border-radius: 24px;
  width: 335px;
  height: 424px;
  padding: 16px;
  margin-top: 20px;
}

.img-container {
  position: relative;
}

.vip {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 76px;
  height: 30px;
  background-color: #29b24e;
  color: #ffffff;
  font-size: 12px;
  font-family: poppins500;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acres {
  margin-top: 28px;
  font-size: 14px;
  font-family: poppins500;
}

.place {
  margin-top: 10px;
  font-size: 12px;
  font-family: poppins400;
  opacity: 50%;
}

.price-month {
  margin: 7px 4px 0px 175px;
  font-size: 12px;
  font-family: poppins400;
}

.price {
  font-size: 24px;
  color: #29b24e;
}

hr {
  width: 335px;
  background-color: #cfead6;
  margin-top: 16px;
  margin-left: -16px;
}

.house-card-bottom-1 {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
  font-size: 12px;
  font-family: poppins400;
}

.contact {
  background-color: #29b24e;
  width: 375px;
  height: 326px;
  border-radius: 24px;
  color: #ffffff;
  padding: 40px 20px;
  margin-top: 50px;
  margin-left: -20px;
}

.first,
.second,
.third,
.fourth {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.left-side {
  font-size: 16px;
  font-family: poppins500;
}

.right-side {
  font-size: 16px;
  font-family: poppins400;
}

.contact-hr {
  margin-top: 40px;
  background-color: #d0d0d0;
  margin-left: 0px;
}

.copyright {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-family: poppins400;
}

footer {
  background-color: aqua;
  margin-top: 84px;
  margin-left: -20px;
  display: flex;
  justify-content: space-around;
  width: 375px;
  height: 72px;
  font-size: 11px;
  font-family: poppins500;
  opacity: 90%;
  border-radius: 24px 24px 0 0;
}

.button1,
.button2,
.button3,
.button4,
.button5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plus-frame {
  background-color: #29B24E;
  width: 56px;
  height: 56px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
